<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="meetGraphík Backend Support" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>
        meetGraphík
      </h1>
    </header>

    <main></main>
    <div
      class="glitchButton"
      style="position: fixed; top: 20px; right: 20px;"
    ></div>
  </body>
</html>
